<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.congcungbe">

    <application
        android:allowBackup="true"
        android:label="Cộng Cùng Bé"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CongCungBe">

        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- ✅ Fix tại đây -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>